allow hal_vibrator_service self:capability { dac_override net_bind_service };
allow hal_vibrator_service hal_vibrator_service_exec:file { read open execute };
allow init hal_vibrator_service_exec:file { entrypoint };
